.link {
	display: flex;
	flex-direction: column;
	position: relative;
	height: fit-content;
	margin: 0;
}

.caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: rgba(48, 48, 48, 0.8);
	padding: 2px 4px;
	font-size: small;
}
